body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-family:Palatino,
    'Palatino Linotype',serif;
  font-size: 32px;
  color:rgb(128,0,128);
}

h2 {
	font-size:9px;
}


.hero {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
	padding: 250px 0;
	margin: 30px;
  background-image: url("http://www.nasa.gov/sites/default/files/styles/side_image/public/thumbnails/image/epicmoon5jul2016.gif?itok=qMrHEovi");
  background-size: cover;
  color: #ffffff;
}


p {
font-size: 2rem
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

#footer {
  font-size:0.75rem;
}

